body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFEFE;
}

.headerwrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.logomain {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logomain img {
    width: 120px;
    height: 120px;
    border-radius: 10em;
    margin: 25px;
}

.logomain #logoname {
    font-size: 38px;
    font-weight: 600;
}

.logomain #logotext {
    font-size: 14px;
    color: #858585;
    margin-left: 5px;
}

.contacts {
    height: inherit;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contacts div {
    margin-left: 4vw;
}

.contacts svg {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    transform: translateY(+15%);
}

.contacts a {
    text-decoration: none;
}

.contacts a:hover {
    text-decoration: underline;
}

.contentdivide {
    width: 90%;
    height: 2px;
    background: #9D9D9D;
    margin: 5px auto 15px auto;
}

nav {
    width: 100%;
    background-color:#004B80;
}

.nav-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
}

.nav-block div {
    margin: 15px;
    font-size: larger;
}

.nav-block a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.imaged-text-container {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-top: 35px;
    padding-bottom: 65px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.65);
}

.imaged-text-holder {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vmin;
    color: #efefef;
    font-size: 20px;
}

.imaged-text-self {
    margin-bottom: 25px;
}

.imaged-text-self h1 {
    font-size: 30px;
}

.imaged-text-button {
    margin-top: 20px;
}

.imaged-text-button a {
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 3px solid #004B80;
    transition: .3s;
}

.imaged-text-button a:hover {
    background-color: #004B80;
    text-shadow: none;
}

.content-container {
    width: 100%;
}

.content-container h1 {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin: 15px;
}

.goods-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.goods-panel {
    width: fit-content;
    height: fit-content;
    background: white;
    display: flex;
    flex-direction: column;
}

.goods-panel img {
    width: 25vh;
    height: 15vh;
    object-fit: cover;
    object-position: center;
}

.block-title {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin: 15px;
}

.contacts-block {
    margin-left: auto;
    margin-right: auto;
}

.contacts-text-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block-text {
    font-size: 24px;
    color: #2a2a2a;
}

.block-text a {
    text-decoration: none;
}

.block-text a:hover {
    text-decoration: underline;
}

.block-text, .contacts-vk {
    margin: 25px;
}

footer {
    width: 100%;
    font-size: 14px;
    background-color: #0c0c0c;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #808080;
}

.footer-field {
    display: flex;
    align-items: center;
    margin: 8px;
}

.footer-field svg {
    width: 24px;
    height: 24px;
    transform: translateY(+15%);
}